- @page_title = t('.tags_list')

= render 'elabs/layouts/empty' if @tags.length.zero?

.tags-list
  - @tags.each do |tag|
    .tag.tag-card
      %header
        .icon= icon 'tag', %w[2x fw]
        .headers
          %h3.title= link_to tag.name, tag

      .content
        = link_to tag_projects_path(tag), class: 'btn btn--block' do
          = icon 'cog', %w[fw icon]
          .text= t('elabs.generic.counts.projects', count: tag.projects_count)
        = link_to tag_articles_path(tag), class: 'btn btn--block' do
          = icon 'font', %w[fw icon]
          .text= t('elabs.generic.counts.articles', count: tag.articles_count)
        = link_to tag_notes_path(tag), class: 'btn btn--block' do
          = icon 'sticky-note', %w[fw icon]
          .text= t('elabs.generic.counts.notes', count: tag.notes_count)
        = link_to tag_uploads_path(tag), class: 'btn btn--block' do
          = icon 'image', %w[fw icon]
          .text= t('elabs.generic.counts.uploads', count: tag.uploads_count)
        = link_to tag_albums_path(tag), class: 'btn btn--block' do
          = icon 'book', %w[fw icon]
          .text= t('elabs.generic.counts.albums', count: tag.albums_count)
        = link_to tag_links_path(tag), class: 'btn btn--block' do
          = icon 'link', %w[fw icon]
          .text= t('elabs.generic.counts.links', count: tag.links_count)
