- @page_title = @tag.name

.tag.tag--full
  %aside.details.always--inline
    %ul
      %li.separator
        %ul
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.albums_count')
            = @tag.albums_count
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.articles_count')
            = @tag.articles_count
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.notes_count')
            = @tag.notes_count
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.projects_count')
            = @tag.projects_count
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.uploads_count')
            = @tag.uploads_count
          %li.detail
            = icon('amount', ['fw'])
            %strong= t('.links_count')
            = @tag.links_count


  .content
    = render 'elabs/layouts/content_associations', is_section: true, entity: @tag
