- if !show_item? project
  = render 'elabs/layouts/hidden_entry_inline', entity: project
- else
  %span.project.project--inline
    = icon 'cog', ['fw']
    = link_to project.name, project, lang: project.language.iso639_1
    - if project.language.iso639_1 != locale
      (#{project.language.iso639_1})

