- @page_title = t('.projects')

.projects-list
  = render 'elabs/layouts/empty' if @projects.length.zero?

  - @projects.each do |p|
    = render 'elabs/layouts/content_card', entity: p

= paginate @projects
