- if !show_item? @project
  - @page_title = t('.content_not_displayed')
  = render 'elabs/layouts/hidden_entry_full', entity: @project
- else
  - @page_title = @project.name
  .project.project--full
    %aside.header
      %ul
        - if @project.main_url.present?
          %li
            = icon('home', ['fw'])
            %strong= link_to t('.home_page'), @project.main_url, target: '_blank', rel: 'noopener noreferrer'
        - else
          %li{ disabled: true }
            = icon_text('home', t('.home_page'), ['fw'])

        - if @project.sources_url.present?
          %li
            = icon('code', ['fw'])
            %strong= link_to t('.sources'), @project.sources_url, target: '_blank', rel: 'noopener noreferrer'
        - else
          %li{ disabled: true }
            = icon_text('code', t('.sources'), ['fw'])

        - if @project.docs_url.present?
          %li
            = icon('book', ['fw'])
            %strong= link_to t('.documentation'), @project.docs_url, target: '_blank', rel: 'noopener noreferrer'
        - else
          %li{ disabled: true }
            = icon_text('book', t('.documentation'), ['fw'])

    %aside.details
      %ul
        %li.separator
          %ul
            %li.detail
              = icon('user', ['fw'])
              %strong= t('.author')
              = link_to @project.user.display_name, @project.user
            %li.detail
              = icon('calendar-check', ['fw'])
              %strong= t('.published_at')
              = medium_datetime @project.published_at
            %li.detail
              = icon('calendar', ['fw'])
              %strong= t('.updated_at')
              = medium_datetime @project.updated_at

        %li.separator
          %ul
            %li.detail
              = icon('info', ['fw'])
              %strong= t('.sfw')
              = boolean_icon_tag @project.sfw, 'is-sfw', 'is-nsfw'
            %li.detail
              = icon('license', ['fw'])
              %strong= t('.license')
              = link_to @project.license do
                = license_icon @project.license
                = @project.license.name
            %li.detail
              = icon('language', ['fw'])
              %strong= t('.language')
              = link_to @project.language.name, @project.language

          %li.separator
            %ul
              %li.detail
                = icon('amount', ['fw'])
                %strong= t('.albums_count')
                = @project.albums_count
              %li.detail
                = icon('amount', ['fw'])
                %strong= t('.articles_count')
                = @project.articles_count
              %li.detail
                = icon('amount', ['fw'])
                %strong= t('.notes_count')
                = @project.notes_count
              %li.detail
                = icon('amount', ['fw'])
                %strong= t('.uploads_count')
                = @project.uploads_count
              %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/tags', tags: @project.tags

          = render 'elabs/layouts/content_download_sources', entity: @note

    .content
      %article{ lang: @project.language.iso639_1 }
        = render_entity_content @project, :short_description
        = render_entity_content @project, :description

      = render 'elabs/layouts/content_associations', is_section: true, entity: @project

  = render 'elabs/comments/comments',
            entity: @project,
            new_comment: @new_comment,
            url: project_create_comment_path(@project)
