.content__relations
  = render 'elabs/layouts/empty' if album.uploads.length.zero?
  .uploads-list
    - album.uploads.published.limit(Elabs.albums_max_shown_uploads).each do |upload|
      = render 'elabs/uploads/preview', upload: upload
- if album.uploads_count > Elabs.albums_max_shown_uploads
  .more
    +#{album.uploads_count - Elabs.albums_max_shown_uploads}
