<%
title            = t('.title', type: t('.album'), title: @album.name)
username         = @album.user.display_name
publication_date = @album.published_at
has_update       = @album.published_at < @album.updated_at

if params[:md_format] == 'pandoc' %>
% <%= title %>
% <%= username %>
% <%= publication_date %>

<% else %>
# <%= title %>

- **<%= t('.author') %>** <%= username %>
- **<%= t('.published_at') %>** <%= publication_date %>
<% end %>
<% if has_update %>
- **<%= t('.updated_at') %>** <%= @album.updated_at %>
<% end %>
- **<%= t('.language') %>** <%= @album.language.name %>
- **<%= t('.license') %>** [<%= @album.license.name %>](<%= @album.license.url %>)
- **<%= t('.projects') %>**
<% @album.projects.each do |project| %>
  - [<%= project.name %>](<%= project_url(project) %>)
<% end %>
- **<%= t('.tags') %>** <% @album.tags.each do |tag| %><%= tag.name %>, <% end %>
- **<%= t('.original_url') %>** <%= album_url(@album) %>
- **<%= t('.sfw') %>** <%= @album.sfw ? t('yes') : t('no') %>

---

<%= @album.description %>

## <%= t('.associated_content') %>

<% if @album.uploads_count > 0 %>
### <%= t('.files') %>

<% @album.uploads.each do |upload| %>
- [<%= upload.title %>](<%= upload_url(upload) %>)
<% end %>
<% end %>
