- if !show_item? @album
  - @page_title = t('.content_not_displayed')
  = render 'elabs/layouts/hidden_entry_full', entity: @album
- else
  - @page_title = @album.name
  .album.album--full
    %aside.details
      %ul
        %li.separator
          %ul
            %li.detail
              = icon('user', ['fw'])
              %strong= t('.author')
              = link_to @album.user.display_name, @album.user

            %li.detail
              = icon('calendar-check', ['fw'])
              %strong= t('.published_at')
              = medium_datetime @album.published_at

            %li.detail
              = icon('calendar', ['fw'])
              %strong= t('.updated_at')
              = medium_datetime @album.updated_at

        %li.separator
          %ul
            %li.detail
              = icon('info', ['fw'])
              %strong= t('.sfw')
              = boolean_icon_tag @album.sfw, 'is-sfw', 'is-nsfw'

            %li.detail
              = icon('language', ['fw'])
              %strong= t('.language')
              = link_to @album.language.name, @album.language

            %li.detail
              = icon('license', ['fw'])
              %strong= t('.license')
              = link_to @album.license do
                = license_icon @album.license
                = @album.license.name

        %li.separator
          %ul
            %li.detail
              = icon('upload', ['fw'])
              %strong= t('.uploads')
              = @album.uploads_count

        %li.separator
          %ul
            %li.detail= render 'elabs/layouts/content_classifiers_lists/projects', projects: @album.public_projects
            %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/tags', tags: @album.tags

        = render 'elabs/layouts/content_download_sources', entity: @album

    .content
      %article{ lang: @album.language.iso639_1 }
        = render_entity_content @album, :description

      .content__relations
        = render 'elabs/layouts/empty' if @album.uploads_count.zero?
        %section.uploads-list
          - @album.uploads.for_relation.each do |u|
            = render 'elabs/uploads/preview', upload: u

  = render 'elabs/comments/comments',
            entity: @album,
            new_comment: @new_comment,
            url: album_create_comment_path(@album)
