- annoucements = Elabs::Announcement.for_user(current_user)

- if annoucements.count.positive?
  .announcements
    - annoucements.each do |a|
      .announcement{ class: "announcement--#{a.level}", id: "announce-#{a.id}" }
        .close-button{ onclick: "hideAnnounce(#{a.id})" }
          = icon 'times', ['fw']
        = markdown a.content
