- is_section = false if is_section.nil?

%aside.tabs{ class: is_section ? 'is-section' : '' }
  %ul.tabs__tabs-list
    - %i[albums articles notes projects uploads links].each do |type|
      - if entity.respond_to?(type)
        %li.tabs__tabs-list__tab{ id: "tab-#{type}" }
          %a{ href: "#tab-content-#{type}", onclick: "selectTab(event, '#{type}')" }
            = human_model_name(type, 2)
            %span.badge= entity.send "#{type}_count"

  - %i[albums articles notes projects uploads links].each do |type|
    - if entity.respond_to?(type)
      %section{ class: "tabs__tab-content #{type}-list", id: "tab-content-#{type}" }
        .tabs__tab-content__title
          %h2= t(".last_n_#{type}", amount: Elabs.max_related_items)
          .actions= related_content_show_all_link entity.send("#{type}_count"), entity_nested_resource_url(entity, type)

        - entity.send(type).for_relation.each do |entry|
          = render_content_card entry
        - if entity.send("#{type}_count").zero?
          = render 'elabs/layouts/empty'

:javascript
  initializeTabs ()
  selectTab('#{first_type_with_content(entity)}')
