- if Elabs.exportable_markdown
  %li.separator.download-button
    = link_to({ format: :md }, class: 'btn btn--download btn--block') do
      = icon 'download', ['fw']
      = t('.markdown_source')
  %li.download-button
    = link_to({ params: { md_format: :pandoc }, format: :md }, class: 'btn btn--download btn--block') do
      = icon 'download', ['fw']
      = t('.markdown_for_pandoc_source')
