- if entity.locked?
  .locked.locked--full
    .locked__title= icon_text 'lock', t('.content_needs_review'), ['fw']
    .locked__subtitle= t('.give_time_to_review')
- else
  .nsfw.nsfw--full
    .nsfw__title= icon_text 'nsfw', t('.not_appropriate'), ['fw']
    .nsfw__subtitle= t('.click_on_show_nsfw')
