%header.page__menu
  .page__menu__title
    = link_to Elabs.site_name, main_app.root_path, class: 'brand_link menu_entry'
    %a.menu_entry.menu_button.menu_button--for-tiny{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'bars', ['fw']

  .page__menu__group
    = active_link_to :projects, class: 'menu_entry' do
      = icon 'cogs', %w[fw icon]
      = t('.projects')
    = active_link_to :articles, class: 'menu_entry' do
      = icon 'font', %w[fw icon]
      = t('.articles')
    = active_link_to :notes, class: 'menu_entry' do
      = icon 'sticky-note', %w[fw icon]
      = t('.notes')
    = active_link_to :albums, class: 'menu_entry' do
      = icon 'book', %w[fw icon]
      = t('.albums')
    = active_link_to :uploads, class: 'menu_entry' do
      = icon 'file', %w[fw icon]
      = t('.uploads')

    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'ellipsis-h', ['fw']
      .dropdown__menu.dropdown__menu--right
        = active_link_to :users, class: 'menu_entry' do
          = icon 'users', %w[fw icon]
          = t('.authors')
        = active_link_to :links, class: 'menu_entry' do
          = icon 'link', %w[fw icon]
          = t('.links')
        = active_link_to :tags, class: 'menu_entry' do
          = icon 'tags', %w[fw icon]
          = t('.tags')
        = active_link_to :licenses, class: 'menu_entry' do
          = icon 'license', %w[fw icon]
          = t('.licenses')
        = active_link_to :languages, class: 'menu_entry' do
          = icon 'language', %w[fw icon]
          = t('.languages')

  %a.menu_entry.menu_button.menu_button--for-small{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'bars', ['fw']

  .page__menu__group.page__menu__group--secondary#secondary-menu
    %a.close_menu_button{ onclick: 'toggleSecondaryMenu()' }= icon 'times', %w[fw 2x]
    %a.menu_entry{ href: url_for(params: { show_nsfw: !show_nsfw? }) }
      = icon show_nsfw? ? 'eye-slash' : 'eye', %w[fw icon]
      = show_nsfw? ? t('.hide_nsfw') : t('.show_nsfw')
    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'language', ['fw']
        = t('.language')
      .dropdown__menu
        = render 'elabs/layouts/language_menu'
    - unless user_signed_in?
      = active_link_to new_user_session_path, class: 'menu_entry' do
        = icon 'sign-in-alt', %w[fw icon]
        = t('.login')
    - if user_signed_in?
      = render 'elabs/layouts/menu_member'
      - if current_user.admin?
        = render 'elabs/layouts/menu_admin'
