.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'wrench', ['fw']
    %span.menu_entry_description= t('.administration')
  .dropdown__menu.dropdown__menu--right
    = active_link_to :admin_projects, class: 'menu_entry' do
      = icon 'cogs', %w[fw icon]
      = t('.projects')
    = active_link_to :admin_articles, class: 'menu_entry' do
      = icon 'font', %w[fw icon]
      = t('.articles')
    = active_link_to :admin_notes, class: 'menu_entry' do
      = icon 'sticky-note', %w[fw icon]
      = t('.notes')
    = active_link_to :admin_albums, class: 'menu_entry' do
      = icon 'book', %w[fw icon]
      = t('.albums')
    = active_link_to :admin_uploads, class: 'menu_entry' do
      = icon 'file', %w[fw icon]
      = t('.uploads')
    = active_link_to :admin_links, class: 'menu_entry' do
      = icon 'link', %w[fw icon]
      = t('.links')

    = active_link_to :admin_tags, class: 'menu_entry is-separator' do
      = icon 'tags', %w[fw icon]
      = t('.tags')
    = active_link_to :admin_languages, class: 'menu_entry' do
      = icon 'language', %w[fw icon]
      = t('.languages')
    = active_link_to :admin_licenses, class: 'menu_entry' do
      = icon 'license', %w[fw icon]
      = t('.licenses')

    = active_link_to :admin_users, class: 'menu_entry is-separator' do
      = icon 'users', %w[fw icon]
      = t('.users')
    = active_link_to :admin_reports, class: 'menu_entry' do
      = icon 'flag', %w[fw icon]
      = t('.reports')
    = active_link_to :admin_announcements, class: 'menu_entry' do
      = icon 'announcement', %w[fw icon]
      = t('.announcements')
