= active_link_to :member_notifications, class: 'menu_entry' do
  = icon 'bell', ['fw']
  - if notification_count.positive?
    %span.badge.badge--notification= notification_count
  %span.menu_entry_description= t('.notifications')
.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'pen', ['fw']
    %span.menu_entry_description= t('.your_content')
  .dropdown__menu.dropdown__menu--right
    .has-action
      = active_link_to :member_projects, class: 'menu_entry' do
        = icon 'cogs', %w[fw icon]
        = t('.projects')
      = link_to :new_member_project, class: 'action' do
        = icon 'plus', ['fw']
    .has-action
      = active_link_to :member_articles, class: 'menu_entry' do
        = icon 'font', %w[fw icon]
        = t('.articles')
      = link_to :new_member_article, class: 'action' do
        = icon 'plus', ['fw']
    .has-action
      = active_link_to :member_notes, class: 'menu_entry' do
        = icon 'sticky-note', %w[fw icon]
        = t('.notes')
      = link_to :new_member_note, class: 'action' do
        = icon 'plus', ['fw']
    .has-action
      = active_link_to :member_albums, class: 'menu_entry' do
        = icon 'book', %w[fw icon]
        = t('.albums')
      = link_to :new_member_album, class: 'action' do
        = icon 'plus', ['fw']
    .has-action
      = active_link_to :member_uploads, class: 'menu_entry' do
        = icon 'file', %w[fw icon]
        = t('.uploads')
      = link_to :new_member_upload, class: 'action' do
        = icon 'plus', ['fw']
    .has-action
      = active_link_to :member_links, class: 'menu_entry' do
        = icon 'link', %w[fw icon]
        = t('.links')
      = link_to :new_member_link, class: 'action' do
        = icon 'plus', ['fw']
.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'user', ['fw']
    %span.menu_entry_description= t('.you')
  .dropdown__menu.dropdown__menu--right
    = active_link_to :member_edit_infos, class: 'menu_entry is-separator' do
      = icon 'info', %w[fw icon]
      = t('.infos')
    = active_link_to :member_edit_preferences, class: 'menu_entry' do
      = icon 'sliders-h', %w[fw icon]
      = t('.preferences')
    = active_link_to :edit_user_registration, class: 'menu_entry' do
      = icon 'pen', %w[fw icon]
      = t('.account')
    = active_link_to :destroy_user_session, method: :delete, class: 'menu_entry' do
      = icon 'sign-out-alt', %w[fw icon]
      = t('.log_out')
