!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    = csrf_meta_tags
    %title= page_title(@page_title, t('.admin'))
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body.page.page--admin
    = render 'elabs/layouts/menu'

    .page__wrapper

      %noscript
        .alert.alert--warning
          = t('.disabled_js')

      .screen_size_warning
        = t('.use_a_real_device_to_administrate')

      .page__header
        - if @page_title # This variable should be set in views (or controllers)
          %h1.page__header__title= @page_title


      = render 'elabs/layouts/flash_messages'

      .page__content
        .page__content__container
          = yield

    = render 'elabs/layouts/footer'
