/* stylelint-disable */
$li-agpl: "\ea01";
$li-apache: "\ea02";
$li-bsd: "\ea03";
$li-cc: "\ea04";
$li-cc-0: "\ea05";
$li-cc-pd: "\ea06";
$li-copyright: "\ea07";
$li-gpl: "\ea08";
$li-lgpl: "\ea09";
$li-mit: "\ea0a";
$li-mpl: "\ea0b";
$li-whitespace: "\ea0c";
$li-wtfpl: "\ea0d";

@font-face {
    font-family: license-icons;
    src: font-url("elabs/license-icons/license-icons.eot");
    src: font-url("elabs/license-icons/license-icons.eot?#iefix") format("embedded-opentype"),
         font-url("elabs/license-icons/license-icons.woff2") format("woff2"),
         font-url("elabs/license-icons/license-icons.woff") format("woff"),
         font-url("elabs/license-icons/license-icons.ttf") format("truetype"),
         font-url("elabs/license-icons/license-icons.svg#license-icons") format("svg");
    font-style: normal;
    font-weight: 400;
}

%li {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 12px/1 license-icons;
    font-size: 1.3em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    vertical-align: -15%;
}

.li {
    @extend %li;
}

.li-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.li-2x {
    font-size: 2em;
}

.li-3x {
    font-size: 3em;
}

.li-4x {
    font-size: 4em;
}

.li-5x {
    font-size: 5em;
}

.li-fw {
    width: 1.28571429em;
    text-align: center;
}

.li-agpl::before {
    content: "\ea01";
}

.li-apache::before {
    content: "\ea02";
}

.li-bsd::before {
    content: "\ea03";
}

.li-cc::before {
    content: "\ea04";
}

.li-cc-0::before {
    content: "\ea05";
}

.li-cc-pd::before {
    content: "\ea06";
}

.li-copyright::before {
    content: "\ea07";
}

.li-gpl::before {
    content: "\ea08";
}

.li-lgpl::before {
    content: "\ea09";
}

.li-mit::before {
    content: "\ea0a";
}

.li-mpl::before {
    content: "\ea0b";
}

.li-whitespace::before {
    content: "\ea0c";
}

.li-wtfpl::before {
    content: "\ea0d";
}
/* stylelint-enable */
