%content-code {
  @include font-size('small');
  border-left: 2px dotted $color-borders;
  padding: 0 0 0 $spacer-small;
}

%article-header {
  color: $color-grey-800;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
