-# rubocop:disable Style/IdenticalConditionalBranches
- if video? file
  %video{ controls: true }
    %source{ src: main_app.url_for(file), type: file.content_type }
    = t('.video_tag_not_supported')
- else
  %audio{ controls: true }
    %source{ src: main_app.url_for(file), type: file.content_type }
    = t('.audio_tag_not_supported')
-# rubocop:enable Style/IdenticalConditionalBranches
