= link_to upload_url(upload) do
  - if upload.file.variable?
    = image_tag main_app.url_for(upload.file.variant(image_resize_properties).processed), class: 'upload-object'
  - elsif playable? upload.file
    = render 'elabs/uploads/player', file: upload.file
  - elsif upload.file.previewable?
    = image_tag main_app.url_for(upload.file.preview(image_resize_properties).processed), class: 'upload-object'
  - else
    = image_tag main_app.url_for(thumbnail_preview_placeholder_file), class: 'upload-object'
