- @page_title = t('.uploads')

.uploads-list
  = render 'elabs/layouts/empty' if @uploads.length.zero?

  - @uploads.each do |u|
    = render 'elabs/layouts/content_card', entity: u

= paginate @uploads
