<%
title            = t('.title', type: t('.file'), title: @upload.title)
username         = @upload.user.display_name
publication_date = @upload.published_at
has_update       = @upload.published_at < @upload.updated_at

preview_url = if @upload.file.variable?
                main_app.url_for(@upload.file.variant(image_resize_properties).processed)
              elsif @upload.file.previewable?
                main_app.url_for(@upload.file.preview(image_resize_properties).processed)
              else
                main_app.url_for(thumbnail_preview_placeholder_file)
              end

if params[:md_format] == 'pandoc' %>
% <%= title %>
% <%= username %>
% <%= publication_date %>

<% else %>
# <%= title %>

- **<%= t('.author') %>** <%= username %>
- **<%= t('.published_at') %>** <%= publication_date %>
<% end %>
<% if has_update %>
- **<%= t('.updated_at') %>** <%= @upload.updated_at %>
<% end %>
- **<%= t('.language') %>** <%= @upload.language.name %>
- **<%= t('.license') %>** [<%= @upload.license.name %>](<%= @upload.license.url %>)
- **<%= t('.projects') %>**
<% @upload.projects.each do |project| %>
  - [<%= project.name %>](<%= project_url(project) %>)
<% end %>
- **<%= t('.albums') %>**
<% @upload.albums.each do |album| %>
  - [<%= album.name %>](<%= album_url(album) %>)
<% end %>
- **<%= t('.tags') %>** <% @upload.tags.each do |tag| %><%= tag.name %>, <% end %>
- **<%= t('.original_url') %>** <%= upload_url(@upload) %>
- **<%= t('.sfw') %>** <%= @upload.sfw ? t('yes') : t('no') %>

---

<%= @upload.description %>

![<%= t('.preview') %>](<%= preview_url %>)
