- if !show_item? @upload
  - @page_title = t('.content_not_displayed')
  = render 'elabs/layouts/hidden_entry_full', entity: @upload
- else
  - @page_title = @upload.title
  .upload.upload--full
    %aside.details
      %ul
        %li.separator
          %ul
            %li.detail
              = icon('user', ['fw'])
              %strong= t('.author')
              = link_to @upload.user.display_name, @upload.user
            %li.detail
              = icon('calendar-check', ['fw'])
              %strong= t('.published_at')
              = medium_datetime @upload.published_at
            %li.detail
              = icon('calendar', ['fw'])
              %strong= t('.updated_at')
              = medium_datetime @upload.updated_at
            %li.detail
              = icon('font', ['fw'])
              %strong= t('.original_name')
              = @upload.file.filename
            %li.detail
              = icon('mime-type', ['fw'])
              %strong= t('.mime_type')
              = @upload.file.content_type

        %li.separator
          %ul
            %li.detail
              = icon('info', ['fw'])
              %strong= t('.is_sfw')
              = @upload.sfw
            %li.detail
              = icon('language', ['fw'])
              %strong= t('.language')
              = link_to @upload.language.name, @upload.language
            %li.detail
              = icon('license', ['fw'])
              %strong= t('.license')
              = link_to @upload.license do
                = license_icon @upload.license
                = @upload.license.name

        %li.separator
          %ul
            %li.detail= render 'elabs/layouts/content_classifiers_lists/projects', projects: @upload.public_projects
            %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/albums', albums: @upload.public_albums
            %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/tags', tags: @upload.tags
            %li.separator.detail
              -# rubocop:disable Rails/LinkToBlank
              = link_to main_app.url_for(@upload.file), class: 'btn btn--download btn--block', target: '_blank' do
                = icon 'download', ['fw']
                = t('.download')
              -# rubocop:enable Rails/LinkToBlank

        = render 'elabs/layouts/content_download_sources', entity: @note

    .content
      %article{ lang: @upload.language.iso639_1 }
        = render_entity_content @upload, :description
        - if playable? @upload.file
          = render 'player', file: @upload.file
        - elsif @upload.file.representable?
          = image_tag main_app.url_for(@upload.file.representation(image_resize_properties(:large)).processed),
             class: 'thumbnail'
        - else
          = image_tag main_app.url_for(thumbnail_preview_placeholder_file), class: 'thumbnail'

  = render 'elabs/comments/comments',
            entity: @upload,
            new_comment: @new_comment,
            url: upload_create_comment_path(@upload)
