!!!
%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv': 'Content-Type' }/
    :css
      *{box-sizing: border-box}
      body{
        font-family: sans-serif;
        font-size: 14pt;
        background-color: #F6BB42;
        color: #757575;
        display:flex;
        flex-direction: column;
        padding: 0;
      }
      a, a:link, a:hover, a:visited{color:#757575}
      footer{font-size: .8em;}
      header, footer{
        color: #C49536;
        flex-grow: 0
      }
      header, footer, article{padding: 15px;}
      article{
        flex-grow: 1;
        background-color:#FAFAFA
      }
      blockquote{
        border-left: 3px solid #F6BB42;
        padding: 0 15px;
        background-color: #FFFFFF;
      }
  %body
    = yield
