= form_for language, url: language.id ? admin_language_path : admin_languages_path do |f|
  - if language.errors.any?
    .error
      %h2= t('.save_error', count: language.errors.count)
      %ul
        - language.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :iso639_1
    .field-input= f.text_field :iso639_1
  .field
    = f.label :name
    .field-input= f.text_field :name

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'
