= form_for(resource, as: resource_name, url: user_session_path) do |f|
  .field
    = f.label :email
    .field-input= f.email_field :email, autofocus: true, autocomplete: 'email'
  .field
    = f.label :password
    .field-input= f.password_field :password, autocomplete: 'off'
  - if devise_mapping.rememberable?
    .field
      .field-input
        = f.check_box :remember_me
        = f.label :remember_me

  .actions
    = f.submit t('.log_in'), class: 'btn btn--block btn--primary'
