.devise {

  &__form {

    &__wrapper {
      @extend %card;
      padding: $spacer-small;

      .actions {
        background-color: transparent;
      }
    }
  }

  &__actions {

    a {
      display: block;
      text-decoration: none;
      border-left: 3px solid transparent;
      padding: $spacer-tiny 0;
    }
  }
}

// Responsive variations --------------
@include respond-to('medium-up') {

  .devise {
    @include grid(4, $spacer-small);

    &__form {
      grid-column: 1 / span 2;
    }

    &__actions {
      grid-column: 3 / span 2;

      a {
        font-size: .8em;
        color: lighten($link-color, 20%);
        border-left: 3px solid transparent;
        padding: 0 0 0 $spacer-tiny;

        &:hover {
          border-left-color: $color-borders;
        }
      }
    }
  }
}
@include respond-to('large-up') {

  .devise {
    @include grid(5, $spacer-small);

    &__form {
      grid-column: 2 / span 2;
    }

    &__actions {
      grid-column: 4 / span 2;
    }
  }
}
