.page {
  background-color: $page-headers-background-color;

  &__wrapper {
    background-color: $color-background-base;
  }

  // Admin pages variation ------------

  &--admin {
    border: 5px solid $color-danger;
    min-height: 100vh;
  }
}
