// Page content ---------------------
.page__content {

  &__container {
    @extend %content-container;
    padding: $spacer-small 0;
  }

  // Responsive variations ------------
  @include respond-to('small-up') {
    padding-top: $spacer-medium-plus;
  }
}
