// Text variants ----------------------
@each $name, $background-color in $variants-list {

  .is-#{$name} {
    color: $background-color;
  }
}

// Text sizes -------------------------

.text--smaller {
  @include font-size('smaller');
}

.text--small {
  @include font-size('small');
}
