.badge {
  text-align: center;
  background-color: $badge-background-color;
  display: inline-block;
  border-radius: .7em;
  font-size: .8em;
  line-height: .8em;
  padding: $spacer-tiny;

  // Notification badges are positioned a bit higher
  &--notification {
    top: -.5em;
    margin-left: -.5em;
    position: relative;
    padding: .1rem $spacer-tiny;
  }
}
