.btn {
  border-radius: $border-radius;

  &:hover {
    color: $color-background-base;
  }
}

.btn-group {
  display: inline-flex;
  color: $button-group-color;

  &--block {
    display: flex;

    .btn {
      flex-grow: 1;
    }
  }

  > .btn {
    border-radius: 0;

    &:first-child {
      border: {
        top-left-radius: $button-border-radius;
        bottom-left-radius: $button-border-radius;
      }
    }

    &:last-child {
      border: {
        top-right-radius: $button-border-radius;
        bottom-right-radius: $button-border-radius;
      }
    }
  }
}
