.dropdown {
  display: inline-flex;
  position: relative;

  > a {
    color: $dropdown-link-color;

    // Icons --------------------------
    &:before {
      position: absolute;
      display: inline-block;
      font: {
        family: 'Font Awesome 5 Free';
        weight: 900;
        size: .8em;
      }
      content: fa-content($fa-var-chevron-down);
      margin-top: 1.5em;
      left: 50%;
      transform: translateX(-50%);
      color: transparentize($dropdown-link-color, .5);
    }

    &:hover {
      color: $dropdown-link-hover-color;

      &:before {
        color: transparentize($dropdown-link-hover-color, .5);
      }
    }
  }

  &__menu {
    display: none;
    padding: 0 $spacer-tiny;
    box-shadow: 0 0 3px 2px $color-borders;
    min-width: 18rem;
    position: absolute;
    z-index: $zindex-dropdown;

    .menu_entry {
      display: block;
      margin: 0 (-$spacer-tiny);
      padding: $spacer-tiny;

      &.is-separator {
        border-top: $border-default;
      }
    }

    > .has-action {
      display: flex;

      .menu_entry {
        flex-grow: 1;
        margin-right: 0;
      }

      .action {
        flex: none;
        margin-right: -$spacer-tiny;
        padding: $spacer-small $spacer-tiny calc(#{$spacer-small} - #{$spacer-tiny}) $spacer-tiny;
      }
    }

    &--right {
      left: auto;
      right: 0;
    }
  }

  &:hover {

    .dropdown__menu {
      display: block;
    }
  }
}
