.error {
  @extend %card;
  background-color: $error-background-color;
  color: $error-color;
  padding: $spacer-small;

  h2 {
    @include font-size('h5');
  }

  // Responsive variations ------------
  @include respond-to('small-up') {
    padding: $spacer-medium;
  }
}
