[type='color'],
[type='date'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea {
  background-color: $form-input-background-color;
  box-shadow: none;
  line-height: 1em;
  border: $form-input-border;
  border: {
    bottom: 3px solid $form-input-border-color;
    radius: 0;
  }
  padding: $spacer-tiny;
  width: 100%;

  &:focus {
    border-color: $form-input-focus-border-color;
  }

  &[disabled] { /* stylelint-disable-line selector-no-qualifying-type */
    border-style: dashed;
  }
}

.textarea {

  &--large {
    min-height: 8em;

    // Responsive variations
    @include respond-to('small-up') {
      min-height: 12em;
    }
  }
}

/* stylelint-disable selector-max-type */

form {

  .field {

    &:not(:first-child) {
      margin-top: $spacer-medium-plus;
    }

    > label,
    > .field_with_errors {
      font-weight: 500;
    }

    .field_with_errors {
      color: $color-error;
    }

    &-input {

      label {
        font-weight: 100;
      }

      &--datetime {
        display: flex;
      }
    }

    &-hint {
      @include font-size('small');
    }

    // Honeypots ----------------------
    &#form-body {

      textarea {
        height: 2em;
        min-height: 2em;
      }
    }

    // Responsive variations ----------
    @include respond-to('small-up') {
      @include grid(4, $spacer-small);

      &:not(:first-child) {
        margin-top: $spacer-small;
      }

      > label,
      > .field_with_errors {
        grid-column: 1 / span 1;
        padding-top: $spacer-tiny;
        text-align: right;
      }

      &-input {
        grid-column: 2 / span 3;
      }
    }
  }

  .actions {
    background-color: $form-actions-background;
    margin: $spacer-small (-$spacer-small) (-$spacer-small) (-$spacer-small);
    padding: $spacer-small;

    &-buttons {
      text-align: right;
    }
  }
}

/* stylelint-enable selector-max-type */
