.nsfw {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gwfCiUV0msLOwAAAGRJREFUOMut07kNACEQQ9E/xPRfKQVstBJCHHPYsfXkxIY/3VMyJQYMU2KehSHsBYaxG5jCTmAa24ElbAXL2AxKsB+UYQBNiQG9KTHPwhH9elNiNzCFncA0tgNL2AqWsRmUYAAfgBoTKoJcDtUAAAAASUVORK5CYII=');
}

.nsfw,
.locked {

  &--large {
    @extend %card;
    padding: $spacer-small;

    // Responsive variation -----------
    @include respond-to('small-up') {
      padding: $spacer-medium;
    }
  }

  &--full {
    @extend %card;
    padding: $spacer-small;
    border: none;

    // Responsive variation -----------
    @include respond-to('small-up') {
      padding: $spacer-large;
    }
  }

  &__title {
    @include font-size('h3');

    // Responsive variation -----------
    @include respond-to('small-up') {
      @include font-size('h2');
    }
  }

  &__subtitle {
    font-size: .8em;
  }
}
