/* stylelint-disable selector-max-type */

table {
  width: 100%;

  tr {

    &:nth-child(even) {
      background-color: $table-row-even-background-color;
    }

    &:hover {
      background-color: $table-row-hover-background-color;
    }
  }

  thead {
    border-bottom: 1px solid $color-borders;
  }

  th,
  td {
    padding: $spacer-tiny $spacer-tiny;

    &:not(:last-child) {
      border-right: 1px dashed $color-borders;
    }
  }
}

/* stylelint-enable */
