<% header = @resource.try(:confirmed?) ? t('.header_change') : t('.header_new') %>
<%= header %>
<%= '=' * header.length %>

<%= t('.greeting', recipient: @resource.display_name) %>

<%= t('.instruction_text') %>
<%= elabs.user_confirmation_url(confirmation_token: @token) %>
