%header
  %h1= t('.header')

%article
  %p= t('.greeting', recipient: @resource.display_name)

  %p= t('.message', email: @resource.try(:unconfirmed_email?) ? @resource.unconfirmed_email : @resource.email)
