<% header = t('.header') %>
<%= header %>
<%= '=' * header.length %>

<%= t('.greeting', recipient: @resource.display_name) %>

<%= t('.instruction_text') %>
<%= elabs.edit_user_password_url(reset_password_token: @token) %>

<%= t('.instruction_2') %>
<%= t('.instruction_3') %>
