<% header = t('.header') %>
<%= header %>
<%= '=' * header.length %>

<%= t('.greeting', recipient: @resource.display_name) %>

<%= t('.message') %>

<%= t('.instruction_text') %>
<%= elabs.user_unlock_url(unlock_token: @token) %>
