- @page_title = t('.articles')

.articles-list
  = render 'elabs/layouts/empty' if @articles.length.zero?

  - @articles.each do |a|
    = render 'elabs/layouts/content_card', entity: a

= paginate @articles
