- if !show_item? @article
  - @page_title = t('.content_not_displayed')
  = render 'elabs/layouts/hidden_entry_full', entity: @article
- else
  - @page_title = @article.title
  .article.article--full
    %aside.details
      %ul
        %li.separator
          %ul
            %li.detail
              = icon('user', ['fw'])
              %strong= t('.author')
              = link_to @article.user.display_name, @article.user
            %li.detail
              = icon('calendar-check', ['fw'])
              %strong= t('.published_at')
              = medium_datetime @article.published_at
            %li.detail
              = icon('calendar', ['fw'])
              %strong= t('.updated_at')
              = medium_datetime @article.updated_at

        %li.separator
          %ul
            %li.detail
              = icon('info', ['fw'])
              %strong= t('.sfw')
              = boolean_icon_tag @article.sfw, 'is-sfw', 'is-nsfw'
            %li.detail
              = icon('language', ['fw'])
              %strong= t('.language')
              = link_to @article.language.name, @article.language
            %li.detail
              = icon('license', ['fw'])
              %strong= t('.license')
              = link_to @article.license do
                = license_icon @article.license
                = @article.license.name

        %li.separator
          %ul
            %li.detail= render 'elabs/layouts/content_classifiers_lists/projects', projects: @article.public_projects
            %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/tags', tags: @article.tags

        = render 'elabs/layouts/content_download_sources', entity: @article

    .content
      %article{ lang: @article.language.iso639_1 }
        = render_entity_content @article, :excerpt
        = render_entity_content @article, :content

  = render 'elabs/comments/comments',
            entity: @article,
            new_comment: @new_comment,
            url: article_create_comment_path(@article)
