<%
  header = t('.header', site_name: Elabs.site_name)
  message_header = notification_message @notification, false
%>
<%= header %>
<%= '=' * header.length %>

<%= message_header %>
<%= '-' * message_header.length %>
<%=  @notification.content.comment%>


<%= t('.url_to_content', url: url_for(@notification.content.content)) %>

---
<%= t('.email_reason_text', site_name: Elabs.site_name) %>
<%= member_edit_preferences_url %>
