%header
  %h1= t('.header', site_name: Elabs.site_name)

%article
  %p= notification_message @notification

  %blockquote= @notification.content.comment

%footer= t('.email_reason_html',
            site_name: Elabs.site_name,
            preferences_link: link_to(t('.your_preferences'), member_edit_preferences_url))
