<%
  header = t('.header', site_name: Elabs.site_name)
  message_header = t('.url_to_page', url: @notification.content.url)
%>
<%= header %>
<%= '=' * header.length %>

<%= notification_message @notification, false %>

<%= message_header %>
<%= '-' * message_header.length %>
<%= raw @notification.content.reason %>


<%= t('.check') %>

---
<%= t('.email_reason_text', site_name: Elabs.site_name) %>
<%= member_edit_preferences_url %>

