@mixin classifier-card($card-color) {

  // General colors
  $card-color-text: darken($card-color, 40%);
  $card-color-title: $card-color-text;
  $card-color-icon: darken($card-color-text, 15%);
  $card-color-content: $card-color;

  // Button colors
  $button-color-background: darken($card-color, 30%);
  $button-color-text: lighten($button-color-background, 40%);
  $button-color-background-hover: $button-color-text;
  $button-color-text-hover: $button-color-background;

  // Style
  @extend %classifier-card;
  background-color: $card-color;

  .content {

    .btn--block {
      background-color: $button-color-background;
      color: $button-color-text;

      &:hover {
        background-color: $button-color-background-hover;
        color: $button-color-text-hover;
      }
    }
  }

  header {

    .icon {
      color: $card-color-icon;
    }

    a:not(.btn) {
      text-decoration: none;
      color: $card-color-title;
    }
  }
}
