@mixin content-card($name, $color) {

  .#{$name}-card {
    $card-color-base: darken($color, 30%);
    $card-color-title: darken($card-color-base, 40%);
    $card-color-content: darken($card-color-base, 20%);
    @extend %card;
    background-color: $color;
    color: $card-color-base;

    > header {
      position: relative; /* to anchor ul.information */

      .header {
        position: relative;
        display: flex;
        padding: $spacer-small;

        h3 {
          margin: 0;
          line-height: 1em;
          flex-grow: 1;
          font: {
            size: 1.2em;
            weight: $weight-medium;
          }

          a { // stylelint-disable-line
            text-decoration: none;
            color: $card-color-title;
          }
        }

        .subtitle {
          font-size: .8em;
          flex: none;
        }

        // Responsive variations ------
        @include respond-to('small-up') {
          padding: $spacer-medium-plus;
        }
      }

      &:hover {

        > .information {
          display: block;
        }
      }

      > .information {
        $background: darken($color, 5%);
        display: none;
        position: absolute;
        left: $spacer-medium;
        top: calc(100% - 1px);
        list-style-type: none;
        margin: 0 auto;
        padding: $spacer-small $spacer-medium;
        font-size: .8em;
        min-height: 1em;
        background-color: darken($color, 5%);
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .2);
        border: {
          top: 1px solid darken($background, 15%);
          radius: 0 0 5px 5px;
        }
        color: darken($card-color-content, 10%);
        max-width: 75vw;
        z-index: $zindex-dropdown;

        a {
          color: $link-color;
          text-decoration: none;

          &:hover {
            color: $link-color-hover;
            text-decoration: underline;
          }
        }
      }
    }

    article {
      border-top: 1px dashed $color-in-card-borders;
      padding: $spacer-medium;
      color: $card-color-content;

      pre {
        @extend %content-code;
      }

      // Responsive variations --------
      @include respond-to('small-up') {
        padding: $spacer-medium-plus;
      }
    }

    .more {
      font-size: .8em;
      text-align: right;
    }
  }
}
