/* stylelint-disable scss/at-extend-no-missing-placeholder */
@mixin icon($fa-var, $fixed: false) {
  @extend .fa;
  @if ($fixed) {
    @extend .fa-fw;
  }
  content: fa-content($fa-var);
}
/* stylelint-enable scss/at-extend-no-missing-placeholder */
