- @page_title = @language.name

.language.language--full
  %aside.details.always--inline
    %ul
      %li.separator
        %ul
          %li.detail
            = icon('info', ['fw'])
            %strong= t('.iso_639_1_code')
            = @language.iso639_1
      %li.separator
        %ul
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.albums_count')
            = @language.albums_count
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.articles_count')
            = @language.articles_count
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.notes_count')
            = @language.notes_count
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.projects_count')
            = @language.projects_count
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.uploads_count')
            = @language.uploads_count
          %li.detail
            = icon('amount', ['fw'])
            %b= t('.links')
            = @language.links_count

  .content
    = render 'elabs/layouts/content_associations', is_section: true, entity: @language
