= form_for license, url: license.id ? admin_license_path : admin_licenses_path do |f|
  - if license.errors.any?
    .error
      %h2= t('.save_error', count: license.errors.count)
      %ul
        - license.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    .field-input= f.text_field :name
  .field
    = f.label :url
    .field-input= f.text_field :url
  .field
    = f.label :tldr_url
    .field-input= f.text_field :tldr_url
  .field
    = f.label :icon
    .field-input= f.text_field :icon

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'
