- if !show_item? link
  = render 'elabs/layouts/hidden_entry', entity: link
- else
  .link.link-card
    %header
      .header
        %h3.title{ lang: link.language.iso639_1 }
          = icon 'link', ['fw']
          - if link.language.iso639_1 != locale
            (#{link.language.iso639_1})
          = link_to link.title, link.url, target: '_blank', rel: 'noopener noreferrer'
      %ul.information
        %li
          = icon('user', ['fw'])
          %strong= t('.added_by')
          = link_to(link.user.display_name, link.user)
        %li
          = icon('language', ['fw'])
          %strong= t('.language')
          = link_to link.language.name, link.language
        %li
          = icon('calendar-check', ['fw'])
          %strong= t('.pub_date')
          = medium_datetime link.published_at
        %li
          = icon('info', ['fw'])
          %strong= t('.sfw')
          = boolean_icon_tag link.sfw, 'is-sfw', 'is-nsfw'
        %li= render 'elabs/layouts/content_classifiers_lists/tags', tags: link.tags

    - if link.description.present?
      %article{ lang: link.language.iso639_1 }= link.description
