@font-face {
  font: {
    family: 'Open Sans';
    weight: 200;
    style: normal;
  }
  src: font-url('elabs/OpenSans/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font: {
    family: 'Open Sans';
    weight: 400;
    style: normal;
  }
  src: font-url('elabs/OpenSans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font: {
    family: 'Open Sans';
    weight: 500;
    style: normal;
  }
  src: font-url('elabs/OpenSans/OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font: {
    family:'Open Sans';
    weight:700;
    style: normal;
  }
  src: font-url('elabs/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
