.devise__actions
  - if controller_name != 'sessions'
    = active_link_to t('.log_in'), new_user_session_path
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = active_link_to t('.sign_up'), new_user_registration_path
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = active_link_to t('.forgot_your_password'), new_user_password_path
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = active_link_to t('.didn_t_receive_confirmation_instructions'), new_user_confirmation_path
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = active_link_to t('.didn_t_receive_unlock_instructions'), new_user_unlock_path

  - if devise_mapping.omniauthable?
    - resource_class.omniauth_providers.each do |provider|
      = active_link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(provider)),
                       auth_omniauth_authorize_path(resource_name, provider)
