- @page_title = t('.tags_list')

%table.tags-list
  %thead
    %tr
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.albums'), 'albums_count'
      %th= admin_order_by_link t('.articles'), 'articles_count'
      %th= admin_order_by_link t('.notes'), 'notes_count'
      %th= admin_order_by_link t('.projects'), 'projects_count'
      %th= admin_order_by_link t('.uploads'), 'uploads_count'
      %th

  %tbody
    - @tags.each do |tag|
      %tr.tag
        %td= tag.name
        %td.is-counter= tag.albums_count
        %td.is-counter= tag.articles_count
        %td.is-counter= tag.notes_count
        %td.is-counter= tag.projects_count
        %td.is-counter= tag.uploads_count
        %td.actions
          .btn-group
            = show_online_link tag
            = admin_edit_link 'tag', tag
            = admin_destroy_link 'tag', tag
