.page__header__actions__filters
  .page__header__actions__filters__group
    .page__header__actions__filters__group__title= t('.sort_by')
    = order_link t('.username'), 'username'
    = order_link t('.insc_date'), 'created_at'
