%span.user.user--inline
  - if Elabs.use_avatars && user.avatar.attached?
    = image_tag avatar_image(user.avatar, :small), class: 'avatar'
  - else
    = icon 'user', ['fw']

  = link_to user.display_name, user
