"use strict";
// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
<%
require_asset 'rails-ujs'
require_asset 'activestorage'
# lib/assets
require_asset 'codemirror/lib/codemirror.js'
require_asset 'codemirror/addon/mode/overlay.js'
require_asset 'codemirror/mode/xml/xml.js'
require_asset 'codemirror/mode/markdown/markdown.js'
require_asset 'codemirror/mode/javascript/javascript.js'
require_asset 'codemirror/mode/css/css.js'
require_asset 'codemirror/mode/htmlmixed/htmlmixed.js'
require_asset 'codemirror/mode/clike/clike.js'
require_asset 'codemirror/mode/meta.js'
require_asset 'codemirror/mode/gfm/gfm.js'
require_asset 'highlight.js-9.13.1/highlight.pack.js'
if Rails.env.development?
    require_asset "vue/dist/vue"
else
    require_asset "vue/dist/vue.min"
end
# Methods used in other scripts
require_asset './helpers'
# JS
require_asset './announcements'
require_asset './forms'
require_asset './helpers-codemirror'
require_asset './helpers-markdown'
require_asset './hljs'
require_asset './menu'
require_asset './modals'
require_asset './tabs'
%>
