- if !show_item? @note
  - @page_title = t('.content_not_displayed')
  = render 'elabs/layouts/hidden_entry_full', entity: @note
- else
  - @page_title = t('.a_note')
  .note.note--full
    %aside.details
      %ul
        %li.separator
          %ul
            %li.detail
              = icon('user', ['fw'])
              %b= t('.author')
              = link_to @note.user.display_name, @note.user
            %li.detail
              = icon('calendar-check', ['fw'])
              %b= t('.published_at')
              = medium_datetime @note.published_at
            %li.detail
              = icon('calendar', ['fw'])
              %b= t('.updated_at')
              = medium_datetime @note.updated_at

        %li.separator
          %ul
            %li.detail
              = icon('info', ['fw'])
              %b= t('.sfw')
              = boolean_icon_tag @note.sfw, 'is-sfw', 'is-nsfw'
            %li.detail
              = icon('language', ['fw'])
              %b= t('.language')
              = link_to @note.language.name, @note.language
            %li.detail
              = icon('license', ['fw'])
              %b= t('.license')
              = link_to @note.license do
                = license_icon @note.license
                = @note.license.name

        %li.separator
          %ul
            %li.detail= render 'elabs/layouts/content_classifiers_lists/projects', projects: @note.public_projects
            %li.separator.detail= render 'elabs/layouts/content_classifiers_lists/tags', tags: @note.tags
        = render 'elabs/layouts/content_download_sources', entity: @note

    .content
      %article{ lang: @note.language.iso639_1 }
        = render_entity_content @note, :content

  = render 'elabs/comments/comments',
            entity: @note,
            new_comment: @new_comment,
            url: note_create_comment_path(@note)
