- @page_title = t('.announcements')

.page__actions
  = link_to t('.new_announcement'), new_admin_announcement_path, class: 'btn btn--new'


%table.announcements-list
  %thead
    %tr
      %th= admin_order_by_link t('.start_at'), :start_at
      %th= admin_order_by_link t('.end_at'), :end_at
      %th= admin_order_by_link t('.target'), :target
      %th= admin_order_by_link t('.level'), :level
      %th= admin_order_by_link t('.content'), :content
      %th= admin_order_by_link t('.user'), :user
      %th
  %tbody
    - @announcements.each do |announcement|
      %tr.announcement
        %td= announcement.start_at
        %td= announcement.end_at
        %td= announcement.target
        %td= announcement.level
        %td= announcement.content[0...100]
        %td= announcement.user.display_name
        %td.btn-group
          = admin_edit_link 'announcement', announcement
          = admin_destroy_link 'announcement', announcement
