.announcements {
  padding-top: $spacer-small;

  .announcement {
    @extend %content-container;
    @include font-size('base');
    padding: $spacer-small;
    border-radius: $announcement-border-radius;

    // Semantic variations ------------
    @each $name, $background-color in $variants-list {

      &--#{$name} {
        background: $background-color;
        color: $color-white;
      }
    }

    &:first-child {
      margin-top: $spacer-medium;
    }

    &:not(:first-child) {
      margin-top: $spacer-small;
    }

    .close-button {
      @extend %clickable;
      float: right;
    }

    &.hidden {
      display: none;
    }

    // Responsive variations ----------
    @include respond-to('small-up') {
      padding: $spacer-medium;
    }
  }
}
