// Languages
.language {

  &-card {
    @include classifier-card($language-bg);
  }
}

// Licenses ---------------------------
.license {

  &-card {
    @include classifier-card($license-bg);
  }
}

// Tags -------------------------------
.tag {

  &-card {
    @include classifier-card($tag-bg);
  }
}

// Users ------------------------------
.user {

  &-card {
    @include classifier-card($user-bg);

    header {
      height: 64px;
    }
  }

  &--inline {
    display: inline;

    .avatar {
      max-width: 1.5em;
    }
  }
}
