// Album representations
@include content-inline('album', $content-album-bg);
@include content-card('album', $content-album-bg);
@include content-full('album', $content-album-bg);

// Article representations
@include content-card('article', $content-article-bg);
@include content-inline('article', $content-article-bg);
@include content-full('article', $content-article-bg);

// Links representations
@include content-card('link', $content-link-bg);

.link-card {
  padding: $spacer-small 0;

  > header {

    .header {
      padding: {
        bottom: 0;
        top: 0;
      }
      font-size: .8em;

      .fas {
        font-size: 1.2em;
      }
    }

    > .information {
      border: $card-border;
      border-radius: 5px;
    }
  }

  article {
    padding: {
      top: 0;
      bottom: 0;
      left: $spacer-large-plus;
    }
    border-top: 0;
  }
}

// Note representations
@include content-inline('note', $content-note-bg);
@include content-card('note', $content-note-bg);
@include content-full('note', $content-note-bg);

// Projects representations
@include content-full('project', $content-project-bg);
@include content-inline('project', $content-project-bg);
@include content-card('project', $content-project-bg);

// Uploads representations
@include content-inline('upload', $content-upload-bg);
@include content-card('upload', $content-upload-bg);
@include content-full('upload', $content-upload-bg);

.upload {

  &--inline {

    .icon {
      max-width: 1.5em;
    }
  }

  &-object {
    object-fit: cover;
    overflow: hidden;
    height: 30em;
    width: 100%;
  }
}
