// Content statuses boxes, when content is not displayed
.status {
  color: $status-color;
  background-color: $status-background-color;
  padding: $status-padding;
  border-radius: $status-border-radius;

  // Size variations ------------------
  &--inline {
    border-radius: $status-inline-border-radius;
    display: inline-block;
    padding: 0 $spacer-tiny;
    @include respond-to('small-up') {
      padding: 0 $spacer-tiny;
    }
  }

  &--full {
    padding: $spacer-medium;
    text-align: center;

    .fas,
    .far,
    .fab {
      font-size: 2em;
      display: block;
      margin: 0 auto $spacer-small auto;
    }

    // Responsive variations ----------
    @include respond-to('small-up') {
      padding: $spacer-medium;
    }
  }

  &--large {
    @extend %card;
  }
}
