.content__relations {
  padding-top: $spacer-tiny;

  // Custom uploads list --------------
  .uploads-list {
    padding: 0 $spacer-tiny $spacer-tiny $spacer-tiny;
    @include grid(2, $spacer-tiny);

    .upload__preview {
      @extend %card;
      display: inline-block;
      margin-bottom: 0;

      .upload__title {
        @extend %ellipsis;
        font-weight: $weight-book;
        padding: $spacer-tiny $spacer-small;
        color: $color-base;
      }

      .upload-object {
        object-fit: cover;
        width: 100%;
        height: 15rem;
      }

      .content {
        @include font-size('smaller');
      }
    }

    // Responsive variations ----------
    @include respond-to('small-up') {

      .upload__preview {

        .upload-object {
          height: 20rem;
        }
      }
    }
    @include respond-to('small-up') {
      @include grid(3, $spacer-tiny);

      .upload__preview {

        .upload-object {
          height: 20rem;
        }
      }
    }
  }
}
