.github-card,
.gitlab-card {
  @extend %card;
  background-color: $widget-card-background-color;
  display: flex;

  > .alert {
    margin: 0;
    border-radius: $widget-card-border-radius;
    flex-grow: 1;
  }

  .content {
    flex-grow: 1;

    h2 {
      font-size: 1.2em;
      line-height: 1.2em;
      padding: 0 $spacer-medium 0 0;
      margin: 0;
    }

    .infos {
      @include grid(2);
      grid-gap: 0 $spacer-small-plus;
      font-size: .8em;
      color: lighten($color-base, 15%);

      a {
        text-decoration: none;
      }

      i {
        color: $color-base;
      }

      // Responsive variations --------
      @include respond-to('tiny-up') {
        grid-template-columns: repeat(4, auto);
      }
      @include respond-to('small-up') {
        grid-template-columns: repeat(6, auto);
      }
    }

    .description {
      @include font-size('small');
      border: none;
      margin: 0;
    }
  }

  &--repo {

    .content {

      h2 {
        padding: $spacer-small;
      }

      .infos {
        padding: 0 $spacer-small;
      }

      .description {
        padding: $spacer-medium $spacer-small;
      }
    }
  }

  &--user,
  &--group {

    .icon {
      flex: none;
      margin-right: $spacer-medium;

      &--avatar {

        .avatar {
          font-size: 7rem;
          max-width: 7rem;
          border-radius: $widget-card-avatar-border-radius;
        }

        // Icons over the user avatar -
        .avatar-badge {
          font-size: 2rem;
          background-color: $color-background-base;
          position: absolute;
          margin-top: 4.6rem;
          padding: .2rem;
          border-radius: $widget-card-avatar-border-radius;
        }
      }
    }

    .content {

      h2 {
        padding: $spacer-small 0;
      }

      .description {
        padding: $spacer-medium 0;
      }
    }
  }
}

.github-inline,
.gitlab-inline {
  display: inline-block;
  border: {
    top: 1px dashed $color-borders;
    bottom: 1px dashed $color-borders;
  }

  &:not(:first-child) {
    margin-left: $spacer-tiny;
  }
}
