%script{ type: 'text/x-template', id: 'template-github-user-card' }
  .github-card.github-card--user{ 'v-if': 'ready && !failed' }
    .icon.icon--avatar
      = icon 'github', %w[fw avatar-badge], 'fab'
      %img.avatar{ ':src': 'user.avatar_url' }
    .content
      %h2
        %a{ ':href': 'user.url', target: '_blank' } {{user.name}}
        %small ({{user.login}})
      .infos
        %div{ 'v-if': 'user.blog' }
          = icon 'home', ['fw']
          %a{ ':href': 'user.blog', target: '_blank' }= t('.home_page')
        %div
          = icon_text 'book', t('.public_repos'), ['fw']
          {{user.public_repos}}
        %div
          = icon_text 'pencil-alt', t('.public_gists'), ['fw']
          {{user.public_gists}}
  .github-card{ 'v-else-if': 'failed', ':disabled': 'failed' }
    .alert.alert--warning
      = icon_text 'bug', t('.github_user_error'), ['fw']
      %code {{error}}
  .github-card{ 'v-else': '' }
    .icon.icon--avatar
      = icon 'github', %w[fw avatar-badge], 'fab'
      = icon 'user', %w[3x fw avatar]
    .alert
      = icon_text 'spinner', t('.loading_from_github'), %w[fw pulse]

:javascript
  function githubUserCard (userName, targetElement) {
    return new Vue({
      name: 'GithubUserCardWidget',
      template: '#template-github-user-card',
      el: document.getElementById(targetElement),
      data: function () {
        return {
          ready: false,
          failed: false,
          userName: userName,
          user: {},
        }
      },
      created () {
        var that = this
        fetch('https://api.github.com/users/' + this.userName, {method: 'GET'})
          .then(function (res) {
            if(res.ok){
              res.json().then(function (data) {
                that.user = data
                that.ready = true
              })
            } else {
              that.failed = true
              that.error = res.statusText
            }
          })
          .catch(function (err) {
            that.failed = true
          })
      }
    })
  }
