%script{ type: 'text/x-template', id: 'template-gitlab-repo-card' }
  .gitlab-card.gitlab-card--repo{ ':disabled': 'failed' }
    .content{ 'v-if': 'ready && !failed' }
      %h2
        = icon 'gitlab', ['fw'], 'fab'
        %template{ 'v-if': 'repo.namespace' }
          %small
            %a{ ':href': '"https://" + url.site + "/" + repo.namespace.full_path',
                target: '_blank' } {{repo.namespace.name}}
          \/
        %a{ ':href': 'repo.web_url', target: '_blank' } {{repo.name}}
        %small (#{t('.project_on_link', link: '{{url.site}}')})
      .infos
        %div
          = icon_text 'calendar', t('.last_activity'), ['fw']
          {{repo.last_activity_at}}
        %div{ 'v-if': 'repo.homepage' }
          = icon 'home', ['fw']
          %a{ ':href': 'repo.homepage', target: '_blank' }= t('.home_page')
        %div
          = icon 'star'
          {{repo.star_count}}
        %div
          = icon_text 'code-branch', t('.forks'), ['fw']
          {{repo.forks_count}}
      %pre.description{ 'v-if': 'repo.description' } {{repo.description}}
    .alert.alert--warning{ 'v-else-if': 'failed && !error' }
      = icon_text 'bug', t('.gitlab_repository_error'), ['fw']
    .alert.alert--warning{ 'v-else-if': 'failed && error' }
      = icon_text 'bug', t('.gitlab_error'), ['fw']
      %code {{error}}
    .alert{ 'v-else': '' }
      = icon_text 'spinner', t('.loading_from_gitlab'), %w[fw pulse]

:javascript
  function gitlabRepoCard (url, target_element) {
    return new Vue({
      name: 'GitlabRepoCardWidget',
      template: '#template-gitlab-repo-card',
      el: document.getElementById(target_element),
      data: function () {
        return {
          ready: false,
          failed: false,
          error: '',
          url: url,
          repo: {},
        }
      },
      created () {
        var that = this
        fetch('https://' + this.url.site + '/api/v4/projects/' + encodeURIComponent(this.url.repo), {method: 'GET'})
          .then(function (res) {
            if(res.ok){
              res.json().then(function (data) {
                that.repo = data
                that.ready = true
              })
            } else {
              that.failed = true
              that.error = res.statusText
            }
          })
          .catch(function (err) {
            that.failed = true
          })
      },
    })
  }
