%script{ type: 'text/x-template', id: 'template-github-repo-card' }
  .github-card.github-card--repo{ ':disabled': 'failed' }
    .content{ 'v-if': 'ready && !failed' }
      %h2
        = icon 'github', ['fw'], 'fab'
        %small
          %a{ ':href': '"https://github.com/" + repo.owner.login', target: '_blank' } {{repo.owner.login}}
        \/
        %a{ ':href': '"https://github.com/" + repo_name', target: '_blank' } {{repo.name}}
      .infos
        %div
          = icon_text 'code-branch', t('.fork'), ['fw']
          {{repo.fork ? '#{t('.yes')}' : '#{t('.no')}'}}
        %div{ 'v-if': 'repo.homepage' }
          = icon 'home', ['fw']
          %a{ ':href': 'repo.homepage', target: '_blank' }= t('.home_page')
        %div
          = icon 'star'
          {{repo.stargazers_count}}
        %div
          = icon 'license'
          %template{ 'v-if': 'repo.license' } {{repo.license.name}}
        %div
          = icon_text 'code-branch', t('.forks'), ['fw']
          {{repo.forks}}
        %div
          = icon 'exclamation-circle'
          {{repo.open_issues}}
      %pre.description{ 'v-if': 'repo.description' } {{repo.description}}
    .alert.alert--warning{ 'v-else-if': 'failed && !error' }
      = icon_text 'bug', t('.github_repository_error'), ['fw']
    .alert.alert--warning{ 'v-else-if': 'failed && error' }
      = icon_text 'bug', t('.github_error'), ['fw']
      %code {{error}}
    .alert{ 'v-else': '' }
      = icon_text 'spinner', t('.loading_from_github'), %w[fw pulse]

:javascript
  function githubRepoCard (repo_name, target_element) {
    return new Vue({
      name: 'GithubRepoCardWidget',
      template: '#template-github-repo-card',
      el: document.getElementById(target_element),
      data: function () {
        return {
          ready: false,
          failed: false,
          error: '',
          repo_name: repo_name,
          repo: {},
        }
      },
      created () {
        var that = this
        fetch('https://api.github.com/repos/' + this.repo_name, {method: 'GET'})
          .then(function (res) {
            if(res.ok){
              res.json().then(function (data) {
                that.repo = data
                that.ready = true
              })
            } else {
              that.failed = true
              that.error = res.statusText
            }
          })
          .catch(function (err) {
            that.failed = true
          })
      }
    })
  }
