- @page_title = t('.licenses')

.licenses-list
  - @licenses.each do |license|
    .license.license-card
      %header
        .icon= license_icon license, %w[3x]
        .headers
          %h3.title= link_to license.name, license
          %ul.information
            %li= link_to t('.official_documentation'), license.url, target: '_blank', rel: 'noopener noreferrer'

      .content
        = link_to license_projects_path(license), class: 'btn btn--block' do
          = icon 'cog', %w[fw icon]
          .text= t('elabs.generic.counts.projects', count: license.projects_count)
        = link_to license_articles_path(license), class: 'btn btn--block' do
          = icon 'font', %w[fw icon]
          .text= t('elabs.generic.counts.articles', count: license.articles_count)
        = link_to license_notes_path(license), class: 'btn btn--block' do
          = icon 'sticky-note', %w[fw icon]
          .text= t('elabs.generic.counts.notes', count: license.notes_count)
        = link_to license_uploads_path(license), class: 'btn btn--block' do
          = icon 'image', %w[fw icon]
          .text= t('elabs.generic.counts.uploads', count: license.uploads_count)
        = link_to license_albums_path(license), class: 'btn btn--block' do
          = icon 'book', %w[fw icon]
          .text= t('elabs.generic.counts.albums', count: license.albums_count)

